@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
*{
    box-sizing: border-box;
}
html,body{
    height:100%;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: "Nova Mono", monospace;
}
#saat{
    
    font-size: 15vw;
}